.SearchBar-position {
  margin: 25px;
}

.SearchBar-input {
  flex-grow: 1;
  border: var(--darkgrey) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  font-size: medium;
  font-family: "Lato", sans-serif;
}

.SearchBar-button {
  color: var(--primary);
  border: var(--primary) 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
  font-size: medium;
  font-family: "Lato", sans-serif;
}

.Dropdown-container{
  height: 200px;
  overflow-y:scroll;
  flex-wrap: wrap;
  align-content: center;
}
